{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> Ask | Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href="home">Hacker News </a> </b>
<a href='new' >new </a> {% if not user.is_anonymous %} | <a href="{% url 'Threads' pk=user.pk%}"> threads </a> {% endif %} | <a href='ask' style="color:white"> ask </a> | <a href='submit'> submit </a>
{% endblock %}
{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        {% for post in posts %}
        {% for ask in asks %}
        {% if ask.contribution.id == post.id%}
        <td class="title">
          <tr class='athing' id='24882480'>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a><br>
            <p style ="font-size: 10px;" style = "color:grey">
              <a style = "color:grey">On {{post.date}} by </a> <a href="{% url 'Profile' pk=post.user.id%}" style="color:grey"> {{post.user}}</a><a style = "color:grey">   |    Has {{post.total_likes}} Likes </a>
              {%for cl in cont_likes%}
                {%if cl.contribution == post%}
                <a style = "color:grey">  |   Liked! </a>
                {%endif%}
              {%endfor%}<br>
              {% if not user.is_anonymous %}
              <a class=" btn btn-primary btn-sm" href="{% url 'like_post_ask' pk=post.pk %}" style = "color:grey" method "POST">
                {% csrf_token %}
              Like Contribution |
              </a>
              <a class=" btn btn-primary btn-sm" href="{% url 'unlike_post_ask' pk=post.pk %}" style = "color:grey" method "POST">
                {% csrf_token %}
              Unlike Contribution |
              {%endif%}
              <a href="{% url 'post_detail' pk=post.pk %}" style="color:grey"> {{post.ncomments}} comments</a></a>
              <hr>
              </tr>
        {%endif%}
        {%endfor%}
    {% endfor %}
    </table>
{% endblock %}
