{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        {% block title %}
        {% endblock %}
    </head>
    <body>
    <style>
            a { color: black;
                text-decoration:none;
             } 
    </style>
    <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%"  style="padding:2px">
                    <td style="width:18px;padding-right:4px"><a href="{% url 'Home'%}"><img src="{% static 'logo.gif' %}" width="22" height="22" style="border:1px white solid"></a></td>
                    <td style="line-height:12pt; height:10px;"> 
                        <span class="pagetop">
                            {% block cabecera %}
                            {% endblock %}    
                        </span>
                    </td> 
                <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                        {% if user.is_anonymous %}
                        <a href="{% provider_login_url "google" %}">login</a>
                        {% else %}
                        <a href="{% url 'Profile' pk=user.pk%}">{{user.email}} </a>
                        ({{user.userprofile.karma}}) | 
                        <a href="/accounts/logout">Logout</a>
                        {% endif %}
                    </span>
                </td>
            </td>
        </tr>
    </table>
    <tr id="pagespace" title="" style="height:10px">
    </tr>
    <tr>
        <td>
                {% block content %}
                {% endblock %}
        </td>
    </tr>
    </center>
    </body>
</html>