{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href= "{% url 'Home' %}">Hacker News</a> </b>
<a href="{% url 'New' %}">new </a> {% if not user.is_anonymous %} | <a href="{% url 'Threads' pk=user.pk%}"> threads </a> {% endif %} | <a href= "{% url 'Ask' %}"> ask </a> | <a href= "{% url 'Submit' %}"> submit </a>
{% endblock %}
{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
      <td class="title">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a><br>
              <p style ="font-size: 10px;" style = "color:grey">
                By <a href="{% url 'Profile' pk=post.user_id %}" style="color:grey"> {{post.user}}</a> <a>on {{post.date}}  | </a>
               {% if not user.is_anonymous %}
                {%if not likeado%}
                <a class=" btn btn-primary btn-sm" href="{% url 'like_post' pk=post.pk %}" method "POST">
                  {% csrf_token %}
               Like Contribution  |
                </a>
                {% else %}
                <a class=" btn btn-primary btn-sm" href="{% url 'unlike_post' pk=post.pk %}" method "POST">
                  {% csrf_token %}
               Unlike Contribution |
                {% endif %}
                {% endif %}
                Has {{post.total_likes}} likes </p>
                {%for url in urls %}
                {% if post.id == url.contribution_id %}
                  <a href="URL 'urls_or_ask'">{{urls_or_ask}}</a> <br>
                  {%endif%}
              {% endfor %}
              {%for ask in asks %}
                {% if post.id == ask.contribution_id %}
                  <a>{{urls_or_ask}}</a> <br>
                  {%endif%}
              {% endfor %}
              <table border="0" cellpadding="0" cellspacing="10" class="itemlist"><br>
                <strong><a>New comment</a></strong>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Send</button>
                </form>
                <br><br>
                <strong><a>Commentaries</a></strong><br><br>
                {% if not user.is_anonymous %}
                <span style="margin-left:10px">  <a class=" btn btn-primary btn-sm" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a></span><br>
                    {%endif%}
                    {% for comment in comments %}
                      <br>
                          <p style ="font-size: 10px;" style = "color:grey">
                          <span style="margin-left:10px"><a href="{% url 'Profile' pk=post.user_id %}" style="color:grey">{{ comment.user }}</a> on {{ comment.created }} | <a>Has {{comment.total_likes}} Likes </a> </span>
                          {%for cl in comm_likes%}
                            {%if cl.commentary == comment%}
                            <a>  |   Liked! </a>
                            {%endif%}
                          {%endfor%}<br>
                          {% if not user.is_anonymous %}
                            <span style="margin-left:10px">  <a class=" btn btn-primary btn-sm" href="{% url 'unlike_comment' pk=post.pk pk_comment=comment.pk %}" method "POST">
                                {% csrf_token %}
                             Unlike Commentary  |
                              </a>
                            <a class=" btn btn-primary btn-sm"  related_name="YYY" href="{% url 'like_comment' pk=post.pk pk_comment=comment.pk %}" method "POST">
                              {% csrf_token %}
                           Like Commentary
                            </a></span>
                          {% endif %} </p>
                          <span style="margin-left:10px"> <a> {{ comment.text }}</a></span>
                          <br>
                          {% if not user.is_anonymous %}
                          <p style ="font-size: 14px;" style = "color:grey">  <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href="{% url 'reply_comment' pk=post.pk pk_comment=comment.pk %}"><u>reply</u></a></span></p>
                          {%endif%}
                          {% include "aswprojecte_app/reply.html" %}
                          <br>
                      {% empty %}
                          <span style="margin-left:10px"><a> No comments here yet :(</a></span>
                      {% endfor %}
              <hr>
      {% endblock %}
