{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> Profile: {{user}} | Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href="home">Hacker News </a> </b>
<a href='new' >new </a> {% if not user.is_anonymous %} | <a href="{% url 'Threads' pk=user.pk%}"> threads </a> {% endif %} | <a href='ask' > ask </a> | <a href='submit'> submit </a>
{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if u.email != user.email or user.is_anonymous %}
    <table border="0">
        <tr>
            <td>username:</td>
            <td>
                <a href="{% url 'Profile' pk=u.pk%}">{{u.username}} </a>
            </td>
        </tr>
        <tr>
            <td>created:</td>
            <td>{{p.created}}</td>
        </tr>

            <td>karma:</td>
            <td>{{p.karma}}</td>
        </tr>
        <tr>
            <td>about:</td>
            <td>{{p.about}}</td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{u.email}}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url 'Submissions' pk=u.pk%}"><u>submissions</u></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url 'Threads' pk=u.pk%}"><u>comments</u></a>
            </td>
        </tr>
    </table>
    {% else %}
    <table border="0">
        <tr>

            <td>username:</td>
            <td>
                <a href="{% url 'Profile' pk=user.pk%}">{{user.username}} </a>
            </td>
        </tr>
        <tr>
            <td>created:</td>
            <td>{{p.created}}</td>
        </tr>
        <tr>
            <td>token_id:</td>
            {% if social.uid is not null %}
            <td>{{social.uid}}</td>
            {% else %}
            <td>Not Available</td>
            {% endif %}
        </tr>
            <td>karma:</td>
            <td>{{p.karma}}</td>

        </tr>
        <tr>
            <td>about:</td>
            <td><textarea cols="60" rows="5" name="about">{{p.about}}</textarea></td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url 'Submissions' pk=user.pk%}"><u>submissions</u></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url 'Threads' pk=user.pk%}"><u>comments</u></a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="{% url 'Upvoteds' pk=user.pk%}"><u>upvoted submissions</u></a>
                /
                <a href="{% url 'Upvotedc' pk=user.pk%}"><u>comments</u></a>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="update">
    {% endif %}
</form>
{% endblock %}
