{% if comment.replies.all %}
    {% for comment in comment.replies.all %}
        <div class="comment" style="margin-left:70px;">
            <p style ="font-size: 10px;" style = "color:grey"> By <a href="{% url 'Profile' pk=comment.contribution.user_id %}" style="color:grey"> {{ comment.user }}</a> On {{comment.created}} |   <a>Has {{comment.total_likes}} Likes </a>
              {%for cl in comm_likes%}
                {%if cl.commentary == comment%}
                <a>  |   Liked! </a>
                {%endif%}
              {%endfor%}<br>
              {% if not user.is_anonymous %}
                  <a class=" btn btn-primary btn-sm" href="{% url 'unlike_comm_threads' pk=comment.contribution.pk pk_comment=comment.pk %}" method "POST">
                  {% csrf_token %}
                  Unlike comment  |
                  </a>
                  <a class=" btn btn-primary btn-sm" href="{% url 'like_comm_threads' pk=comment.contribution.pk pk_comment=comment.pk %}" method "POST">
                      {% csrf_token %}
                      Like comment
                      </a>
              {% endif %}
              <br></p>
                {{ comment.text }} <br>
                {% if not user.is_anonymous %}
                    <p style ="font-size: 14px;" style = "color:grey"> <a class=" btn btn-primary btn-sm" href="{% url 'reply_comment' pk=comment.contribution.pk pk_comment=comment.pk %}"><u>reply</u></a></p>
                {%endif%}
                {% include "aswprojecte_app/reply.html" %}
            </div>
    {% endfor %}
{% endif %}
