{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href="{% url 'Home' %}">Hacker News</a> </b>
{% endblock %}
{% block content %}
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}
