{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> Submit | Hacker News</title>{% endblock %}
{% block cabecera %}
{% if not user.is_anonymous %}
    <b class="hnname"> <a href="submit">Submit </a> </b>  
{% else %}
    <b class="hnname"> <a href="home">Hacker News </a> </b>   
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <h2>You have to be logged in to submit.</h2>
{% else %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<form method="POST">
    {% csrf_token %}
<table border="0">
    <tr>
        <td>
            title
        </td>
        <td>
            <input type="text" name="title" value="" size="50" oninput="tlen(this)" onfocus="tlen(this)">
            <span style="margin-left:10px"></span>
        </td>
    </tr>
    <tr>
        <td>
            url
        </td>
        <td>
            <input type="text" name="url" value="" size="50">
        </td>
    </tr>
        <tr>
            <td></td>
            <td>
                <b>
                    or
                </b>
            </td>
        </tr>
        <tr>
            <td>text</td>
            <td>
                <textarea name="text" rows="4" cols="49"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="submit">
            </td>
        </tr>
        <tr style="height:20px"></tr>
        <tr>
            <td></td>
</form>
{% endif %}
{% endblock %}
