{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> {{user.email}}'s submissions | Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href="home">Hacker News</a> </b>
<a href='new'>new </a> {% if not user.is_anonymous %} | <a href="{% url 'Threads' pk=user.pk%}"> threads </a> {% endif %} | <a href='ask'> ask </a> | <a href='submit'> submit </a> | <a href="{% url 'Submissions' pk=u.pk%}" style="color:white"> {{u.username}}'s submissions </a>
{% endblock %}
{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" class="itemlist"> 
      {% for post in posts %}
      {% for url in urls %}
        {% if url.contribution.id == post.id%}
        <td class="title">
          <tr class='athing' id='24882480'>
            <a href="{{url.url}}">{{ post.title }}</a>
            <br>
            <p style ="font-size: 10px;" style = "color:grey">
              <a style = "color:grey">On {{post.date}} by </a> <a href="{% url 'Profile' pk=post.user_id %}" style="color:grey"> {{post.user}}</a><a style = "color:grey">   |    Has {{post.total_likes}} Likes </a><br>
              {% if not user.is_anonymous %}
              <a class=" btn btn-primary btn-sm" href="{% url 'like_post_home' pk=post.pk %}" style = "color:grey" method "POST">
                {% csrf_token %}
              Like Contribution |
              </a>
              {% if post.total_likes != 0 %}
              <a class=" btn btn-primary btn-sm" href="{% url 'unlike_post_home' pk=post.pk %}" style = "color:grey" method "POST">
                {% csrf_token %}
              Unlike Contribution |
              {%else%}
              <a class=" btn btn-primary btn-sm" href="home" style = "color:grey" method "POST">
                {% csrf_token %}
              Unlike Contribution |
              {%endif%}
              {%endif%}
              <a href="{% url 'post_detail' pk=post.pk %}" style="color:grey"> {{post.ncomments}} comments</a></a>
              <hr>
              </tr>
        {%endif%}
      {%endfor%}
      {% for ask in asks %}
        {% if ask.contribution.id == post.id%}
        <td class="title">
          <tr class='athing' id='24882480'>
            <a href="{{url.url}}">{{ post.title }}</a>
            <br>
            <p style ="font-size: 10px;" style = "color:grey">
              <a style = "color:grey">On {{post.date}} by </a> <a href="{% url 'Profile' pk=post.user_id %}" style="color:grey"> {{post.user}}</a><a style = "color:grey">   |    Has {{post.total_likes}} Likes </a><br>
              {% if not user.is_anonymous %}
              <a class=" btn btn-primary btn-sm" href="{% url 'like_post_home' pk=post.pk %}" style = "color:grey" method "POST">
                {% csrf_token %}
              Like Contribution |
              </a>
              {% if post.total_likes != 0 %}
              <a class=" btn btn-primary btn-sm" href="{% url 'unlike_post_home' pk=post.pk %}" style = "color:grey" method "POST">
                {% csrf_token %}
              Unlike Contribution |
              {%else%}
              <a class=" btn btn-primary btn-sm" href="home" style = "color:grey" method "POST">
                {% csrf_token %}
              Unlike Contribution |
              {%endif%}
              {%endif%}
              <a href="{% url 'post_detail' pk=post.pk %}" style="color:grey"> {{post.ncomments}} comments</a></a>
              <hr>
              </tr>
        {%endif%}
      {%endfor%}
      {% for title in titles %}
        {% if title.contribution.id == post.id%}
            <td class="title">
              <tr class='athing' id='24882480'>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                <br>
                <p style ="font-size: 10px;" style = "color:grey">
                  <a style = "color:grey">On {{post.date}} by </a> <a href="{% url 'Profile' pk=post.user_id %}" style="color:grey"> {{post.user}}</a><a style = "color:grey">   |    Has {{post.total_likes}} Likes </a><br>
                  {% if not user.is_anonymous %}
                  <a class=" btn btn-primary btn-sm" href="{% url 'like_post_home' pk=post.pk %}" style = "color:grey" method "POST">
                    {% csrf_token %}
                  Like Contribution |
                  </a>
                  {% if post.total_likes != 0 %}
                  <a class=" btn btn-primary btn-sm" href="{% url 'unlike_post_home' pk=post.pk %}" style = "color:grey" method "POST">
                    {% csrf_token %}
                  Unlike Contribution |
                  {%else%}
                  <a class=" btn btn-primary btn-sm" href="home" style = "color:grey" method "POST">
                    {% csrf_token %}
                  Unlike Contribution |
                  {%endif%}
                  {%endif%}
                  <a href="{% url 'post_detail' pk=post.pk %}" style="color:grey"> {{post.ncomments}} comments</a></a>
                  <hr>
        {%endif%}
      {%endfor%}     
    {% endfor %}
    </table>
{% endblock %}