{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> {{user_mio}}'s comments | Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href="home">Hacker News </a> </b>
<a href='new' >new </a> | <a href="{% url 'Threads' pk=user_mio.pk%}" style="color:white"> threads </a> | <a href='ask' > ask </a> | <a href='submit'> submit </a>
{% endblock %}
{% block content %}
    {% for comment in comments %}
    <br>
        <p style ="font-size: 10px;" style = "color:grey">
        <span style="margin-left:10px"><a href="{% url 'Profile' pk=comment.user_id %}" style="color:grey">{{ comment.user }}</a> on {{ comment.created }} | <a>Has {{comment.total_likes}} Likes </a>
          {%for cl in comm_likes%}
            {%if cl.commentary == comment%}
            <a>  |   Liked! </a>
            {%endif%}
          {%endfor%}<br>
        {% if not user.is_anonymous %}
            <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href="{% url 'unlike_comm_threads' pk=comment.contribution.pk pk_comment=comment.pk %}" method "POST">
                {% csrf_token %}
                Unlike Commentary  |
            </a>
            <a class=" btn btn-primary btn-sm"  related_name="YYY" href="{% url 'like_comm_threads' pk=comment.contribution.pk pk_comment=comment.pk %}" method "POST">
              {% csrf_token %}
              Like Commentary </<span>
            </a>
        {% endif %}</span></p>
        <span style="margin-left:10px"> <a> {{ comment.text }}</a></span>
        <br>
        {% if not user.is_anonymous %}
        <p style ="font-size: 14px;" style = "color:grey">  <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href="{% url 'reply_comment' pk=comment.contribution.pk pk_comment=comment.pk %}"><u>reply</u></a></span></p>
        {%endif%}
        {% include "aswprojecte_app/reply_threads.html" %}
            <br>
        {% empty %}
        <span style="margin-left:10px"><a> No comments here yet :(</a></span>
    {% endfor %}
{% endblock %}
