{% extends "aswprojecte_app/base.html" %}
{% block title %} <title> Upvoted comments | Hacker News</title>{% endblock %}
{% block cabecera %}
<b class="hnname"> <a href="home">Hacker News</a> </b>
<a href='new'>new </a> {% if not user.is_anonymous %} | <a href="{% url 'Threads' pk=user.pk%}"> threads </a> {% endif %} | <a href='ask'> ask </a> | <a href='submit'> submit </a> | <a style="color:white"> upvoted </a>
{% endblock %}
{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
    {% for com in c %}
        <tr>
            <p style ="font-size: 10px;" style = "color:grey">
            <a href="{% url 'Profile' pk=com.user.user.id %}" style="color:grey"> {{com.user.user.username}}</a>
            <a style="color: grey"> {{com.created}} | on: </a>
            <a href="{% url 'post_detail' pk=com.contribution.pk %}" style="color: grey"> {{ com.contribution.title }}</a></p>
            <a> {{com.text}}</a>
        </tr>
    {% endfor %}
    </table>
{% endblock %}